.index-style {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(84, 84, 87, 0.5);
}

.index-style a {
    position: relative;
    display: block;
    margin: 0.5px 0 8.5px 79.5px;
    background: #d4ecea;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.index-style a:hover {
    background: #d9f9fe;
}

.index-style a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -62px;
    top: 24px;
    padding-top: 16px;
    margin-top: -1em;
    background: #7fd6e5;
    height: 41px;
    width: 52px;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.index-style img{
    width: 70px;
}
.index-style a:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.index-style a:hover:after {
    left: -10px;
    border-left-color:#7fd6e5;
    width: 10px;
}

.pokemon-name-style{
    font-size: 20px;
    margin-left: 5px;
    position: relative;
    top: -25px;
}

